footer {
    background-color: #5c3b00;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    color: white;
  }
footer > p {
    font-size: x-small;
    font-family: 'Ballantines';
}