<nav class="navbar">
  <div class="logo">Site Test</div>
  <input type="checkbox" id="menu-toggle" class="menu-toggle" />
  <label for="menu-toggle" class="hamburger">&#9776;</label>
  <ul class="nav-links">
    <li><a href="index.html">Accueil</a></li>
    <li><a href="pages/activites.html">Activités</a></li>
    <li><a href="pages/produits.html">Produits</a></li>
    <li><a href="pages/ou-nous-trouver.html">Où nous trouver</a></li>
    <li><a href="pages/liens.html">Liens</a></li>
    <li><a href="pages/contact.html">Contact</a></li>
  </ul>
</nav>
