<nav class="navbar">
  <div class="logo">Site Test</div>
  <input type="checkbox" id="menu-toggle" class="menu-toggle" />
  <label for="menu-toggle" class="hamburger">&#9776;</label>
  <ul class="nav-links">
    <li><a href="index.html" data-link="index">ACCUEIL</a></li>
    <li><a href="pages/activites.html" data-link="activites">ACTIVITÉS</a></li>
    <li><a href="pages/produits.html" data-link="produits">PRODUITS</a></li>
    <li><a href="pages/ou-nous-trouver.html" data-link="ou-nous-trouver">OÙ NOUS TROUVER</a></li>
    <li><a href="pages/liens.html" data-link="liens">LIENS</a></li>
    <li><a href="pages/contact.html" data-link="contact">CONTECT</a></li>
  </ul>
</nav>
