/* Base du menu */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5c3b00;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, #4b3102 100%), url(../../img/img_miel_confiture.png);
  color: #5c3b00;
  padding:
10px;
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  height: 80%;
}

.logo a {
  font-size: 4rem;
  font-weight: bold;
  text-decoration: none;
  color: #5c3b00;
}

/* Menu burger caché en grand écran */
.hamburger,
.menu-toggle {
  display: none;
}

/* Liens horizontaux pour les grands écrans */
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-links li {
  border: white solid 2px;
  border-radius: 10rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
  margin: 5px;
}

.nav-links a:hover, .nav-links li:hover {
  color: #946d2b;
}

/* Changer la couleur du lien et de la bordure active */
.nav-links a.active {
  color: #946d2b; /* Texte blanc pour l'élément actif */
}

.nav-links li a.active {
  border-color: #946d2b; /* Changer la couleur de la bordure quand actif */
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .navbar {
    display: flex; /* Affichage en ligne */
    flex-direction: row; /* Alignement des éléments sur une ligne */
    justify-content: space-between; /* Titre et burger séparés */
    align-items: center; /* Centrer verticalement */
    height: auto;
  }

  .logo {
    margin-bottom: 0; /* Pas d'espace sous le logo */
  }


  .logo a {
    font-size: 2rem;
  }

  .hamburger {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    gap:10px;
    position: absolute;
    top: 60px;
    right: 20px;
    background:#5c3a0075;
    color: white;
    padding:10px;
    border-radius:5px;
  }

  .menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
  }

  .nav-links li {
    padding: 10px 0;
    border: none;
    border-radius: none;
    transition: none;
  }

  .nav-links a {
    padding-left: 10px;
  }
}
